body{
    background-image: url(../img/pattern.jpg);
    font-family:'Trebuchet MS';
    height: 100%;
    margin: 0px;
}
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;   
}
ul{
    list-style:none;
}
li{
    display: inline;
    margin:3px ;
    padding-right: 50px;
}
a{
    text-decoration: none;
}
section{
    background-color:white ;
    margin: 90px 100px 30px;
    padding: 10px;
}
h1{
    text-align: center;
}
article{
    border-bottom: 2px solid black;
}
footer{
    background-color: black;
    padding: 5px;
    position:static; 
}
h5{
    color: white;
    text-align: center;
}
